:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;

  height: 100vh;

  background-color: #e4d6ff;
  background-image: linear-gradient(to right, #ebebff 1px, transparent 1px),
    linear-gradient(to bottom, #ebebff 1px, transparent 1px);
  background-size: 40px 40px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #2e383b;
  text-align: center;
}

button {
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;

  padding: 0.5rem 1rem;

  cursor: pointer;
  border: none;
  border-radius: 0.5rem;

  background-color: #f9f9f9;
}

input {
  min-width: 4rem;
  height: 2.25rem;
  padding: 0 0.15rem;

  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
}
